*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}   

.conteudo-principal{
    text-align: center;
    background-color: rgb(255, 233, 201);
    border-radius: 15px;
    padding: 2rem 5rem;
}

.cabecalho{
    font-family: 'Montserrat', sans-serif;
}

.cabecalho img{
    width: 25%;
    height: 25%;
    cursor: pointer;
}

.cabecalho img:hover{
    opacity: 90%;
}

.cabecalho h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 60px;
    opacity: 70%;
}

.cabecalho h3{
    font-size: 18px;
    opacity: 70%;
    padding-bottom: 1rem;
}

.cabecalho span{
    color: rgb(255, 174, 0);
}

.inputs-usuario{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cambio input{
    display: block;
    margin-bottom: 15px;
    padding: 20px 45vh;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5e5e5e;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    
}

.input-cambio input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    opacity: 70%;
    font-size: 13px;
}


footer{
    padding-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    opacity: 70%;
}

footer span{
    color: rgb(255, 174, 0);
}